@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ArialRoundedMT";
  src: url("./assets/fonts/arialroundedmtbold.ttf")
    format("truetype");
}

* {
  font-family: ArialRoundedMT, Helvetica, sans-serif;
}
